<% if message.is_supporter? %>
  <div class="chat-message">
    <div class="chat-avatar">
      <%=image_tag "supporter", class: "chat-avatar-img" %>
    </div>
    <div class="chat-content">
      <div class="chat-content-inner">
        <p class="chat-text"><%= message.message %></p>
      </div>
    </div>
  </div>
<% else %>
  <div class="chat-message right">
    <div class="chat-avatar">
      <%=image_tag "customer", class: "chat-avatar-img" %>
    </div>
    <div class="chat-content">
      <div class="chat-content-inner">
        <p class="chat-text"><%= message.message %></p>
      </div>
    </div>
  </div>
<% end %>
