<div class="modal fade registration-modal" id="regbox">
  <% if params[:schedule] %>
    <%= render "registrations/form_registration_schedules", registration: registration %>
  <% else %>
    <%= render "registrations/form", registration: registration,
      hash_course_schedules: hash_course_schedules %>
  <% end %>
</div>
