<div class="modal fade registration-modal" id="regbox">
  <% if params[:schedule] %>
    <%= render "registrations/form_registration_schedules", registration: registration %>
  <% else %>
    <%= render "registrations/form", registration: registration,
      newest_schedules: @course.course_schedules.load_by_course_schedule %>
  <% end %>
</div>
