.maps {
  width: 100%;

  .maps-frame {
    height: 450px;
    width: 100%;
  }
}

.view-all-trainers {
  text-align: center;

  a{
    height: 36px;
    line-height: 36px;
    color: #ffffff;
    background-color: #294696;
    padding: 10px 15px;
    font-size: 15px;
    font-weight: bold;
    border-radius: 6px;
    transition: opacity 0.2s;
  }

  a:hover {
    opacity: 0.9;
    color: #ffffff;
  }
}

.collection_check_boxes {
  float: right;
  margin-right: 70%;
}

.checkboxs-schedules {
  border: solid 1px #3ab991;
  padding: 10px;
}

.hot-line {
  position: absolute;
  right: 50px;
  margin-top: 5px;
  font-size: small;
  font-family: cursive;
}

.clear-td {
  padding: 0px !important;
  border: none !important;
}

.group-checkbox label {
  margin-left: 5% !important;
}

.display-inline-block {
  display: inline-block !important;
}

.checkbox .cr {
  position: relative;
  display: inline-block;
  border: 1px solid #a9a9a9;
  border-radius: .25em;
  width: 1.3em;
  height: 1.3em;
  float: left;
  margin-right: .5em;
}

.checkbox .cr .cr-icon {
  position: absolute;
  font-size: .8em;
  line-height: 0;
  top: 50%;
  left: 20%;
}

.checkbox label input[type="checkbox"] {
  display: none;
}

.checkbox label input[type="checkbox"] + .cr > .cr-icon {
  transform: scale(3) rotateZ(-20deg);
  opacity: 0;
  transition: all .3s ease-in;
}

.checkbox label input[type="checkbox"]:checked + .cr > .cr-icon {
  transform: scale(1) rotateZ(0deg);
  opacity: 1;
}

.checkbox label input[type="checkbox"]:disabled + .cr {
  opacity: .5;
}

.disable-btn {
  background-color: darkgrey !important;
}

.custom-nav {
  background-color: #f3f3f2 !important;
}
@media(min-width:768px) {
  .custom-nav {
    top: 51px;
    border-right: 1px solid #cccccc;
    border-radius: 0;
    overflow-y: auto;
    background-color: #f3f3f2;
    overflow-x: hidden;
    padding-bottom: 40px;
    bottom: 0px;
  }

  .custom-nav>li>a {
    width: 225px;
  }

  .custom-nav li a:hover,
  .custom-nav li a:focus {
    outline: none;
    background-color: #cccccc !important;
  }
}

.custom-nav>li>ul {
  padding: 0;
}

.list-message-scroll {
  height: 450px;
  overflow-y: scroll;
}

.room-header {
  padding: 5px;
  background-color: #f2f2f2;
  margin-bottom: 5px;
}

.unreply-room {
  background-color: red;
}

.pad-0 {
  padding: 0px !important;
}

.full-width {
  width: 100%;
}
